:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #000000, #000000);
    /* 图标背景 */
  --vp-home-hero-image-background-image: linear-gradient( 123deg, #464646, #000000);
  --vp-home-hero-image-filter: blur(100px);
}

.dark {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #ffffff, #ffffff);
    /* 图标背景 */
  --vp-home-hero-image-background-image: linear-gradient( 100deg, #6d6d6d 100%, #5e5e5e 100%);
  --vp-home-hero-image-filter: blur(80px);
}

